<div class="row">

  <!-- <div class="col-md-12">
    <h1 class="text-center">Product List</h1>
  </div> -->
  <div class="col-md-12">

    <hr>
    <hr>

    <button class="btn btn-success"><a  routerLink="/new-product" style="color:aliceblue"> New Sub Category</a></button>
  </div>
</div>
<hr>
<div class="row">

    <div class="col-md-12">
      <a href="#" class="list-group-item clearfix" *ngFor="let product of categories" routerLink="/product-detail">

        
        <div >

          <h4 class="float-left mr-5" >{{product.name}}</h4>
          <span class=""><img [src]="product.imagePath" alt="{{product.imagePath}}" class="img-responsive" style="max-height: 50px"></span>
          <p class="float-right">{{product.price | currency}}</p>
         
        </div>
      </a>

      <hr>
  
    </div>
  </div>

