<div class="row">
 <div class="col-md-12">

  <hr>
  <h2 class="d-flex justify-content-center">New Category</h2>
  <form>
    <div class="form-group">
      <input class="form-control form-control-lg" type="text" placeholder="Name of Category">
    </div>
    <div class="form-group">
      <label for="exampleFormControlFile1">Example file input</label>
      <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>
    <div class="form-group">
    <select class="form-control">
      <option>Default select</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  </div>
</div>