<div class="row">

    <div class="col-md-12">
        <h1 class="text-center">Category List</h1>
      </div>
  <div class="col-md-12">

    <hr>
    <button class="btn btn-success"><a routerLink="/new-category" style="color:aliceblue"> New Category</a></button>
  </div>
</div>
<hr>
<div class="row">

    <div class="col-md-4" *ngFor="let category of categories">
      <a routerLink="/category-detail" class="" >

        <div class="card" >
          <img class="card-img-top" src="{{category.imagePath}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{category.name}}</h5>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
       
       
      </a>
       
    </div>
  </div>

