<div class="row">

    <div class="col-md-12">
        <h1 class="text-center">Category Detail</h1>
      </div>
     <div class="col-md-12">

           <hr>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              
              <li class="breadcrumb-item"><a  routerLink="/home">Categories List</a></li>
              <li class="breadcrumb-item active" aria-current="page">Category Detail</li>
            </ol>
          </nav>
      </div>
</div>
<hr>
<div class="row">

    <div class="col-md-12" >
      
            <div class="row">

                      <div class="col-md-12" >
                                <h4 class="d-inline">Name</h4>
                                <div class="float-right">
                                  <button class="btn btn-danger">Delete</button>
                                  <button class="btn btn-primary">Edit</button>
                                </div>
                      </div>
            </div>

            <div class="row">

                      <div class="col-md-6">

                        <img src="https://cdn.pixabay.com/photo/2017/11/16/18/51/kagyana-2955466_960_720.jpg" alt="" class="img-responsive" style="max-height: 200px">
                      </div>
                    
            
            </div>
        </div>
</div>

<hr>
<div class="row">

 
    <div class="col-md-12">
      
      <ul class="nav nav-tabs" id="myTab" role="tablist" #myTab>
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" routerLink="#home"  role="tab" aria-controls="home" aria-selected="true">Products List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" routerLink="#profile" role="tab" aria-controls="profile" aria-selected="false">Sub Categories</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Some Extra Content</a>
        </li> -->
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade  show active" id="home"  role="tabpanel" aria-labelledby="home-tab"><app-products-list></app-products-list></div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"><app-sub-categories></app-sub-categories></div>
        <!-- <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div> -->
      </div>

</div>

