<div class="row">

  <div class="col-md-12">

    
    
     <app-categories-list></app-categories-list>
   <!-- <app-categories-detail></app-categories-detail>
    <app-new-category></app-new-category>
    <app-products></app-products> -->
  </div>