<div class="row">
    <div class="col-md-12">
   
     <hr>
     <h2 class="d-flex justify-content-center">New Product</h2>
     <form>
       <div class="form-group">
         <input class="form-control form-control-lg" type="text" placeholder="Name of Product">
       </div>
       <div class="form-group">
          <input class="form-control form-control-lg" type="number" placeholder="Price of Product">
        </div>
       <div class="form-group">
         <label for="exampleFormControlFile1">Example file input for product Image</label>
         <input type="file" class="form-control-file" id="exampleFormControlFile1">
       </div>
       <div class="form-group">
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked>
              <label class="form-check-label" for="defaultCheck1">
                showForDelivery
              </label>
            </div>
       </div>
       <div class="form-group">
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked>
              <label class="form-check-label" for="defaultCheck1">
                  showForPickup
              </label>
            </div>
       </div>
       <div class="form-group">
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked>
              <label class="form-check-label" for="defaultCheck1">
                  showForWalkin
              </label>
            </div>
       </div>
       
       <button type="submit" class="btn btn-primary">Submit</button>
     </form> 
   
     <hr>
     <hr>
     </div>
   </div>