<div class="row">

    <div class="col-md-12">
        <h1 class="text-center">Product Detail</h1>
      </div>
     <div class="col-md-12">

           <hr>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/home">Categories List</a></li>
              <li class="breadcrumb-item"><a routerLink="/category-detail">Category Detail</a></li>
              <li class="breadcrumb-item active" aria-current="page">Product Details</li>
            </ol>
          </nav>
      </div>
</div>
<hr>
<div class="row">

    <div class="col-md-12" >
      
            <div class="row">

                <button class="btn btn-danger">Delete</button>
                <button class="btn btn-primary">Edit</button>
               
                      <div class="col-md-12" >
                          <hr>
                                <h4 class="d-inline">Name</h4>
                               
                                <h4 >50</h4>
                                <div class="float-right">
                                 
                                  <div class="col-md-4">

                                      <img src="https://cdn.pixabay.com/photo/2017/11/16/18/51/kagyana-2955466_960_720.jpg" alt="" class="img-responsive" style="max-height: 200px">
                                    </div>
                                  
                                </div>
                      </div>
            </div>

            <div class="row">

                     
            
            </div>
        </div>
</div>

<hr>
<div class="row">

    <div class="col-md-12">

            <h2>Customization</h2>
            <button class="btn btn-primary float-right">Add</button>

    </div>

</div>


